.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #000;
  color: #fff;
  padding: 10px 0;
  z-index: 1000;
}

.footer .copyright {
  padding-top: 10px;
}

.footer .credits {
  font-size: 13px;
  padding-top: 5px;
}

.footer .px-1{
    font-size: 15px;
}